body{
    
    text-align: center;
    margin: 0%;
    font-family: 'Merriweather', serif;
    font-size: medium;
    

}
.country{

    background-color: rgba(81, 77, 77, 0.283);
    padding-top:300px;
    padding-bottom: 100px;
    position: relative;
    
}
.map{
    position: absolute;
    top: 1px;
    right: 450px;
}
h1{
    margin:0 ;
   font-family: 'Sacramento', cursive;  
   color:blueviolet; 
   font-size: 90px;  
}
h2{
    margin:0 ;
   font-family: 'Sacramento', cursive; 
   color: blueviolet; 
   font-size: 90;     
} 
